# See https://help.github.com/articles/about-codeowners/ for valid syntax for entries.
# Default owners for everything in the repo, unless a later match takes precedence

# DragSama (https://github.com/DragSama)
# 「 Rajkumar™ 」(https://github.com/Awesome-RJ)
# 『itzzzyashu™』(https://github.com/itzzzyashu)
# The source code of Ultra-Union-scanner is maintained by TeamUltraUnion (https://github.com/TeamUltraUnion)
